# dependencies
/node_modules
/client/node_modules
/server/node_modules

# testing
/client/coverage

# production
/client/build

# lock files
/client/yarn.lock
/client/package-lock.json
/server/yarn.lock
/server/package-lock.json